<section>
    <header class="content-header-discover-page">
        <div class="discover-album-header-left-side">
            <h1>Discover More NFTs</h1>
            <p>Explore new trending NFTs</p>
        </div>
        <div class="discover-album-header-right-side">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
</svg>
            <button>See All</button>
        </div>
    </header>
<main class="container-images-discover-page">

    @for (item of getInfoArtist; track $index) {
 <div class="category-item" (click)="onNavigate(item.id ,item.albumName)" >
            <div>
            <img class="img-category" [src]="[item.mainImg]" alt="">

            </div>
         <div class="infoes-bottom">
            <h1>{{item.albumName}}</h1>
            <div class="prof-artist-discover-page">
                <img [src]="[item.imgProf]" alt="">
                <p>{{item.artistName}}</p>
            </div>
            <div class="content-details-post-artist">
                <div class="price-post-artist">
                    <p>Price</p>
                    <p>1.63 ETH</p>
                </div>
                <div class="high-bid-post-artist">
                    <p>Highest Bid</p>
                    <p>{{item.highesBid}}</p>
                </div>
            </div>
         </div>
            
        </div> 
    }

</main>
   
</section>

d