<section>
    <div class="container-trend-coll">
        <div class="items-trend-coll-header">
            <h1>Trending Collection</h1>
            <p>Checkout Our Weekly Updated Trending Collection.</p>
        </div>
         
        <div class="albums-trend-coll-content">

          @for (image of filterdTrendCollection() ; track $index) {
     
             <div class="album-trend-coll-img" >
        
                <img [src]="[image.mainImg]" alt="" width="400px" height="400px" >
                <div class="bottom-images-minimal">
                  <div class="minimal-images-album" *ngFor="let imageMinimal of image.minimalImages">
                    <img [src]="[imageMinimal]" alt="" width="112px">
                </div>
                    <h3>1025+</h3>
                </div>
                @for (artist of image.artist; track $index) {
  <div class="infoes-artist-album">
                    <h3>{{artist.artistName}}</h3>
                    <div class="artis-info-album">
                         <img [src]="[artist.imgArtist]" alt="">
                         <p style="color: white;">{{artist.artistName}}</p>
                    </div>
                </div>
                }
              

            </div> 

          
          }@empty {
            <h1>there isn't anyItem</h1>
          }
            

            
        </div>

    </div>
</section>
  <app-mu-to-creators></app-mu-to-creators>
