<section>
    <header class="header-main-content-creators">
        <ul>
            <li> <a #btnHistory>Today</a> </li>
            <li><a  #btnHistory>This Week</a></li>
            <li><a #btnHistory >This Month</a></li>
            <li><a #btnHistory >All Time</a></li>
        </ul>
    </header>

    <main>
        <div btn class="contianer-main-content-creators">
  <div class="top-item-creators-page">
            <ul class="layut-items-creators">
                <li>#</li>
                <li>Artist</li>
                <li>Change</li>
                <li>NFTs Sold</li>
                <li>Volume</li>
            </ul>
     
        </div>
        <div class="items-creators-main">
@for (item of artistsCreators() ; track $index; let index =$index) {
      <div class="layut-items-creators more-edit-creators">
               <p class="first-child-text">{{index +1}}</p>
               <div class="crators-img">
                <img [src]="[item.img]" width="60px" height="60x" style="object-fit: contain;" alt="">
                <h3>{{item.name}}</h3>
               </div>
               <p style="color: green;">+{{item.update}}%</p>
               <h4>{{item.soldMusic}}</h4>
               <h5> {{item.volume}}ETH</h5>
            </div>
}


        </div>

        </div>
    
    </main>
</section>

