<section>
    <div class="container-main-header">
        <div class="main-header-left-page">
         <h2>Discover digital Art & Collect NFTs</h2>
         <p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
         <button class="btn-get-start">Get Started</button>
         <div class="info-product">
                <!-- <table>
                <thead>
                     <th>240k+ </th>
                    <th class="p-y-table">100k+</th>
                    <th>240k+</th> 
                 </thead>
                 <tbody>
                    <td>Total Sale</td>
                    <td class="p-y-table">Auctions</td>
                    <td>Artists</td>
                 </tbody>
                </table> -->
            </div>
        </div>
        
        <div class="main-header-right-page">
           <div class="content-main-header-right-page">
            <div  class="header-right-picture-page"  >
             
               <img   src="./picture-header/Image Placeholder.png" alt="">


                <div style="margin-left: 2rem;">
                  <h2>Space Walking</h2>
                <div class="prof-user-header-page-right">
                    <img src="./Users/Avatar.png" alt="">
                    <span>Animakid</span>
                </div>
                </div>

              
                
            </div>
            
           </div>
        </div>



    </div>
</section>