*{
    --font-weight:900;
    --font-size:1.1rem
}
.timers{
    display: flex;
    column-gap: 1rem;
  
}
.timer-items{
    display: grid;
    background-color: rgb(59, 59, 59);
    padding: 2rem 0 1.5rem    0rem;
    justify-content: center;
    width: 85%;
      font-size:var(--font-size);
    font-weight: var(--font-weight);
    border-radius: 1rem;
    row-gap: 1rem;
}
.timer-items *{
    background-color: #3B3B3B;
}
.timer-items button{
    border: none;
    padding:  1rem  2rem ;
    background: #A259FF;
    margin-top: 1.5rem;
    color: white;
    border-radius: 2rem;
         font-size:0.8rem;
    font-weight: var(--font-weight);
    border-radius: 1rem;
}