<section>
    <div class="timer-items">
        <p>Auction ends in:</p>
        <div class="timers">
          <div class="hour">
            <h1>59</h1>
            <h5>Hours</h5>
          </div>
          <h1>:</h1>
          <div class="minute">
            <h1>59</h1>
            <h5>Minutes</h5>
          </div>
          <h1>:</h1>
          <div class="second">
            <h1>{{seconds() }}</h1>
            <h5>Seconds</h5>
          </div>
        </div>
        <button>Place Bid</button>
    </div>
</section>