*{
    --bg-btn-login:#A259FF;
    --white:white;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--white);
    margin-top: 1.5rem;
}
.items-header-left {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.items-header-right-page ul {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}
.items-header-right-page ul li {
    list-style: none;
}

.items-header-right-page ul li a {
    align-items: center;
    display: flex;
    background: var(--bg-btn-login);
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;

}